name: Msfs 2024 Tools

on:
  push:
    branches:
      - main
      - develop

permissions:
  contents: read
  issues: write
  pull-requests: write
  repository-projects: write
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Code
        uses: actions/checkout@v6.0.2
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'adopt'
      - name: Build and deploy package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn --batch-mode clean deploy -DskipTests -Pgithub
